<h1>Settings</h1>


<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 34rem;">
        <div class="card-body">
          <form id="report_form" name="report_form" action="/home/record_settings">
            <div class="form-group">
              <label>Report Frequency</label>
              <select class="form-control" id="frequency" name="frequency">
                <option>Choose report frequency</option>
                <option>Daily</option>
                <option>Weekly</option>
                <option>Monthly</option>
              </select>
            </div>

            <!-- <div class="form-group">
              <label>Select Timezone</label>
              <select class="form-control" id="timezone" name="timezone">

              </select>
            </div> -->

            <div class="form-group">
              <label>Recipients</label>
              <input type="text" class="form-control" id="email_tokenfield" name="email" placeholder="Enter the emails to send reports">
              <small>Enter email of recipients and press ENTER to add more</small>
            </div>

            <div class="form-group">
              <label>Number of days to reorder</label>
              <input type="text" class="form-control" id="reorder_days" name="reorder_days" placeholder="Enter the number of days it takes to reorder">
            </div>


            <button id="submit_button" type="submit" class="btn general_button">Submit</button>
            <%= hidden_field_tag 'current_shop_domain', @current_shop_domain %>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
    </div>
</div>


<script>
$('#email_tokenfield').tokenfield({
  autocomplete: {
    source: [],
    delay: 100
  },
  showAutocompleteOnFocus: true
})
</script>

<script>
// $('#timezone').timezones();
</script>

<script>
var url_string = decodeURIComponent(window.location.search.substring(0));
if(url_string == "" || url_string == null)
{

}
else
{
  var success_msg=url_string.split("?");
  if(success_msg[1]=="" || success_msg[1] == null )
  {

  }
  else
  {
    var success=success_msg[1].split("=");
    if(success[0]=="sucess")
    {
      if(success[1]=="true")
      {
        $.toast({
            heading: 'Success',
            text: 'Settings were updated successfully!',
            showHideTransition: 'slide',
            position: 'bottom-right',
            icon: 'success'
        })
      }
      if(success[1]=="false")
      {
        $.toast({
            heading: 'Error',
            text: 'Settings cannot be updated! No shop found.',
            showHideTransition: 'slide',
            position: 'bottom-right',
            icon: 'error'
        })
      }
    }

  }
}

$( "#report_form" ).validate({
  rules: {
    frequency: {
      required: true
    }
  }
});
</script>
