<!DOCTYPE html>
<html>
  <head>
      <title>Shopify Inventory App</title>
      <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' %>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' %>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="wrapper" class="active">  
    	<div id="sidebar-wrapper">
	        <ul id="sidebar_menu" class="sidebar-nav">
	           <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu</a></li>
	        </ul>
	        <ul class="sidebar-nav" id="sidebar">
	          <li><a>Welcome<span class="glyphicon glyphicon-home"></span></a></li>
	          <li><a>Settings<span class="glyphicon glyphicon-cog"></span></a></li>
	        </ul>
	    </div>
          
      <!-- Page content -->
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
            <div class="row">
              <div class="col-md-12"><br>
              	<p class="well lead">Shopify Inventory App</p>
              	<div class="container">
               		<%= yield %>
              	</div>
              </div>
            </div>
        </div>
      </div>
      
	</div>


  </body>
</html>

